* {
    margin: 0;
    font-family: "Lucida Sans", sans-serif;

}

body {
    margin: 10px;
    box-sizing: border-box;
}

header {
    height: 200px;
    background-color: ghostwhite;
    padding: 20px;
    margin: 5px;
    text-align: center;
}

header h2 {
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(84, 136, 194);

}

main {
    margin: 20px;

}

#myChart{
    max-height:400px;
    width: auto;
}

#detail_data_section {
    
    width: 100%;
    height: fit-content;
}

#detail_data_section:after {
    clear: both;
    content: "";
}

main:after {
    content: "";
    clear: both;
}

/* Card Css */
div.card_item {
    width: 90%;
    height: 80%;
    box-shadow: 0 4px 4px 0 rgba(175, 45, 45, 0.1), 0 6px 2px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}

div.card_item div.card_title {
    background-color: #4664ec;
    color: white;
    padding: 10px;
    font-size: 40px;
}

div.container {
    padding: 10px;
}

div.card_detail {
    margin-bottom: 10px;

}

@media screen and(max-width: 600px) {
    #detail_data_section {
        width: 100%;
   
    }
    #myChart{
        height: 800px;
        width: 100%;
    }

    #list_data_section {
        width: 100%;
    }

    
}

@media  screen and(max-width: 300px){
    #myChart{
        height: 800px;
        width: 100%;

    }
}